<!-- <!DOCTYPE html> -->
<div
  class="w-100 hero bg-cover bg-center bg-no-repeat h-full"
  style="background-image: url(#);"
>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-warning text-7xl">CANT READ-UH MY POKER FACE</h1>
      <a href="/playerBoard"><button class="btn btn-info">BEGIN</button></a>
    </div>
  </div>
</div>
